<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>upload</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/plugins/elementui/index.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- 引入组件库 -->
    <script src="/js/vue.js"></script>
    <script src="/plugins/elementui/index.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script src="/js/axios-0.18.0.js"></script>
    <title>Title</title>
</head>
<body class="hold-transition">
<div id="app" style="display: none">
    <div class="app-container">
        <div class="box">
            <div class="add-form">
                <el-dialog title="数据信息封装" :visible.sync="dialogFormVisible">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="包信息" name="first">
                                <el-form label-position="right" label-width="100px">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="目的ip">
                                                <el-input v-model="formData.packet.destIp"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="协议">
                                                <el-input v-model="formData.packet.protocol"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="目的端口">
                                                <el-input v-model="formData.packet.destport"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="频率">
                                                <el-input v-model="formData.packet.frequence"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="个数">
                                                <el-input v-model="formData.packet.count"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="信息">
                                                <el-input v-model="formData.packet.message"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="上传私钥">
                                                <el-upload
                                                        class="avatar-uploader"
                                                        action="/send/upload"
                                                        :auto-upload="autoUpload"
                                                        name="keyfile"
                                                        :show-file-list="false"
                                                        :on-success="handleAvatarSuccess"
                                                        :before-upload="beforeAvatarUpload">
                                                    <img v-if="imageUrl" :src="imageUrl" class="avatar" width="100" height="100">
                                                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                                </el-upload>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>

                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleAdd()">确定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
</div>
</body>
<!-- 引入组件库 -->
<script src="/js/vue.js"></script>
<script src="/plugins/elementui/index.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            imageUrl: null,
            autoUpload: true,//自动上传
            activeName: 'first',
            formData: {
                packet:{},
                keyfile: null
            },
            dialogFormVisible: true,
        },
        created: function () {//在vue初始化时调用

        },
        mounted() {
            document.getElementById("app").style.display = 'block';
        },
        methods: {
            //上传之前进行文件格式校验
            beforeUpload(file) {
                return true;
                //这是自己写的判断方式
                let name = file.name.substring(file.name.lastIndexOf('.'));
                if (name === '.xlsx' || name === '.xls') {
                    return true;
                } else {
                    this.$message.error('上传文件只能是xls或xlsx');
                    return false;
                }
            },
            //文件上传成功后的钩子，response为服务端返回的值，file为当前上传的文件封装成的js对象
            handleAvatarSuccess(response, file) {
                this.imageUrl = "http://cdn.lgdck.cn/Shiina1.jpg";
                this.$message({
                    type: response.success ? 'success' : 'error',
                    message: response.message
                });
                this.formData.keyfile = file;
                console.log(response, file);
            },
            beforeAvatarUpload(file) {
                return true;
            },
            //下载模板文件  整个流程是 下载模板  填好模板 上传写好的模板  导入数据库  显示  更改预约设置
            downloadTemplate() {
                window.location.href = "/template/test.xlsx";
            },
            //上传成功提示
            handleSuccess(response, file) {
                if (response.success) {
                    this.$message({
                        message: response.message,
                        type: 'success'
                    });
                } else {
                    this.$message.error(response.message);
                }

            },
            //发送请求
            handleAdd() {
                //alert(this.checkgroupIds);
                console.log(this.formData);
                // alert(this.formData.packet);
                axios.post("/send/sh",this.formData).then((res) => {
                    console.log(res);
                    if (res.data.success) {//添加成功
                        this.dialogFormVisible = true;
                        this.$message({
                            type: 'success',
                            message: res.data.message
                        });
                    } else {
                        this.$message.error(res.data.message);
                    }
                });
            }

        }
    })
</script>


</html>